body {
    background-color: pink;
    color: blueviolet;
    font-family: cursive;
}

.menu{
    display: inline-block;
    background-color: white;
    padding: 10px 122px;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 5px 5px 5px gainsboro;
    
}
.menu:hover{
    background-color: rosybrown;
}
h1 {
    text-align: center;
}
.regalos{ 
    justify-content: center; 
}
.regalos img{
 display: inline-block;
 margin: 0 10px;
}